@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-modal: hsla(210, 65%, 20%, 80%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 30px rgb(254 243 199 / 1) inset !important;
}

input[type = text]{
  background-color: rgb(254 243 199 / 1);
  padding: 10px 15px;
  margin: 8px 0;
  border-radius:  8px;
  width: 100%;
  border: 1px solid black;
  outline: none;
}

textarea{
  background-color: rgb(254 243 199 / 1);
  padding: 10px 15px;
  margin: 8px 0;
  border-radius:  8px;
  width: 100%;
  border: 1px solid black;
  outline: none;
}


.input-field{
  position: relative;
}

.input-field label{
  background-color: rgb(254 243 199 / 1);
  font-size: 13px;
  font-weight: 600;
  padding: 0 5px;
  position: absolute;
  left: 20px;
  z-index: 10;
}